body {
  padding: 140px 80px;
}

header {
  text-align: center;
  margin: 80px auto;
}

.container {
  background-color: white;
  width: calc(100% - 160px);
  padding: auto 80px;
  padding-bottom: 60px;
}

.main {
  display: flex;
  padding: 0 60px;
}

.thumbnail {
  height: 56px;
  margin-right: 12px;
}

.wistia_embed {
  margin-right: 48px;
  position: relative;
  z-index: 1;
}

.media {
  margin-bottom: 12px;
}

.media-content {
  display: flex;
  align-items: center;
}

.video-container {
  position: relative; /* A wrapper around the video and the overlay */
  width: 650px;
  height: 360px;
}

#countdown-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 20px;
  z-index: 1000; /* Ensure it appears above the video */
  pointer-events: none; /* Prevent overlay from blocking interactions with the video */
}

#countdown-overlay.hidden {
  display: none; /* Hide overlay when it's not needed */
}

.thumbnail-container {
  position: relative;
  display: inline-block;
}

.next-video-thumbnail {
  width: 320px;
  height: auto;
}

.up-next-text {
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 100px;
}

.countdown-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}



